<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="header.css"/>
</head>
<body>
    <div id="header">
        <div>
            <h2>Multiple APIs</h2>
        </div>
        <div>
            <form>
                <input class="hb" type="submit" value="Url Shortener" name="url-shortener" formaction="/url-shortener" formmethod="POST" title="url-shortener"/>
                <input class="hb" type="submit" value="Dad Jokes" name="dad-joke" formaction="/dad-joke" formmethod="POST" title="fetch a dad joke"/>
                <input class="hb" type="submit" value="NASA APOD" name="nasa-apod" formaction="/nasa-apod" formmethod="POST" title="NASA Astronomy Picture Of the Day" />
            </form>
        </div>
    </div>
</body>
</html>