<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"/>
    <title>Multiple APIs</title>
</head>
<body>

    <%- include("partials/header.ejs") %>

    <div id="container">
        <h1>Choose an option:</h1>

        <form>
            <input type="submit" value="Url Shortener" name="url-shortener" formaction="/url-shortener" formmethod="POST" title="url-shortener"/>
            <input type="submit" value="Dad Jokes" name="dad-joke" formaction="/dad-joke" formmethod="POST" title="fetch a dad joke"/>
            <input type="submit" value="NASA APOD" name="nasa-apod" formaction="/nasa-apod" formmethod="POST" title="NASA Astronomy Picture Of the Day" />
        </form>
    </div>
</body>
</html>